h1{
    background-color: blue;
    color: rgb(174, 227, 68);
    text-align: center;
    font-size: 100px;
}
.nomi{
    color:white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  blue;
}